{% block form_row %}
    {% spaceless %}
        {% if label is defined %}
            <label> {{ label|trans({}, translation_domain) }}<br>
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors is defined %}
            {% if errors|length > 0 %}
                {% for error in errors %}
                    <span class="error">{{ error.message }}</span><br>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block checkbox_row %}
    {% spaceless %}
        {% if label is defined %}
            <label> {{ form_errors(form) }}
                {{ form_widget(form) }} {{ label|trans({}, translation_domain) }}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock checkbox_row %}