<article id="extras">

    <h2>Wissenswertes</h2>

    <h3>Ablauf</h3>

    <ul>
        <li>19:00 Einlass<br>
            <small>Kostenlose Registrierung (s.u.) ist erforderlich!</small>
        </li>
        <li>ca. 19:30 Intro, Talks I</li>
        <li>ca. 20:30-21:00 Pause<br>
            <small>für Getränke und Snacks ist gesorgt</small>
        </li>
        <li>ca 21:00-22:00 Spotlights, Talks II</li>
        <li>ab ca. 22:00 Uhr Networking</li>
    </ul>

    {% for event in pastEvents %}
        {% if loop.first %}
            <h2>Bisherige Webmontage</h2>
            <ul>
        {% endif %}
        <li>
            Am
            <time datetime="{{ event.start|rfc3339 }}">{{ event.start|shortdate }}</time>
            fand
            der<br><a href="{{ path('wemoof_event', {'id': event.id}) }}#event">{{ "%d."|format(event.id)|numtotext }}
                <strong>Webmontag Offenbach</strong></a> statt.
        </li>
        {% if loop.last %}
            </ul>
        {% endif %}
    {% endfor %}

    <h3>Team</h3>

    <p>Der Webmontag Offenbach wird organisiert von <a href="http://tckr.cc/" rel="author">Markus Tacker</a>. Du
        erreichst mich via Mail unter <a href="mailto:m@wemoof.de">m@wemoof.de</a>.</p>

    {% include "WEMOOFWebBundle:Web:part/socialmedia.html.twig" %}

    <ul class="team">

        <li>
            <a href="{{ path('wemoof_user', {'id': 1, 'slug': "Markus Tacker"|slug}) }}" rel="author">
                <img src="{{ gravatar('m@tckr.cc', 125) }}" alt="Markus Tacker"><br>Markus Tacker</a><br>
            <small>Initiator</small>
        </li>
        <li>
            <a href="{{ path('wemoof_user', {'id': 9, 'slug': "Lutz Jahnke"|slug}) }}">
                <img src="/upload/user/{{ "Lutz Jahnke"|slug }}-9.jpg" alt="Lutz Jahnke"><br>Lutz Jahnke</a><br>
            <small>Location</small>
        </li>
        <li>
            <a href="{{ path('wemoof_user', {'id': 17, 'slug': "Thomas Meid"|slug}) }}">
                <img src="{{ gravatar('thomas@agentur-meid.com', 125) }}" alt="Thomas Meid"><br>Thomas Meid</a><br>
            <small>Videos</small>
        </li>
    </ul>

    <h3>Warum …</h3>

    <h4 id="faq-web">Web?</h4>

    <p>Das Internet ist ohne Zweifel das Leitmedium der kreativen Wirtschaft geworden und mit den Grundprinzipien
        des Webs - Offenheit, Transparenz und Freiheit - können sich viele Menschen identifizieren. Das Web als
        Kulturgut, Arbeitswerkzeug oder Freizeitvergnügen ist aus unserem Alltag nicht mehr wegzudenken und bietet
        so als übergeordneter Rahmen der Webmontage die thematische Grundlage der Veranstaltung. </p>

    <h4 id="faq-format">Das Format „Webmontag“ </h4>

    <p>
        Ein <a href="http://webmontag.de" rel="friend muse">Webmontag</a> findet in Deutschland in vielen Städten
        regelmäßig an einem Montag Abend statt. Im Lauf des Abends werden mehrere Vorträge gehalten - üblicherweise
        unterbrochen von einer Pause. Diese Pause, wie auch die Zeit vor und nach den Vorträgen bietet Gelegenheit
        sich mit Kollegen, Bekannten und Unbekannte aus der Branche bei einem Bier in ungezwungener Atmosphäre über
        die Vorträge und aktuelle Themen auszutauschen. Das "Sie" wird dabei an der Garderobe abgegeben.</p>

    <h3>Sponsoren</h3>

    <ul class="sponsoren">
        <li>
            <a href="http://afip-hessen.de/" rel="met friend">
                <img src="{{ asset('bundles/wemoofweb/images/afip.png') }}" alt="afip — akademie für interdisziplinäre prozesse | offenbach"><br><abbr title="akademie für interdisziplinäre prozesse | offenbach">»afip!«</abbr>
            </a> <br>
            <small>Locationunterstützung<br> Platz für 200 Leute</small>
        </li>

        <li>
            <a href="mailto:m@wemoof.de?subject=Sponsoring">
                <img src="{{ asset('bundles/wemoofweb/images/wildcard.png') }}" alt=""><br>Dein<br>Unternehmen?</a>
        </li>
    </ul>

    <h3>Partner</h3>

    <ul class="partner">
        <li>
            <a href="http://facebook.com/likeOffenbach" rel="met friend">
                <img src="{{ asset('bundles/wemoofweb/images/like-offenbach.png') }}" alt="Like Offenbach"><br>Like
                Offenbach </a>
        </li>
    </ul>

</article>