{% if user.url %}<a href="{{ user.url }}">{% endif %}
{% if user.hasGravatar %}
    <img src="{{ gravatar(user.email, 150) }}" alt="{{ user }}" class="user">
{% else %}
    <img src="/upload/user/{{ user|slug }}-{{ user.id }}.jpg" alt="{{ user }}" class="user">
{% endif %}
{% if user.url %}</a>{% endif %}

{{ user.description|md }}

<ul class="links">
    {% if user.url %}
        <li>
            <i class="icon-home"></i> <a href="{{ user.url }}" title="{{ user }}">{{ user.url|compacturl }}</a>
        </li>
    {% endif %}
    {% if user.twitter %}
        <li>
            <i class="icon-twitter"></i>
            <a href="https://twitter.com/{{ user.twitter }}" title="{{ user }} auf Twitter">@{{ user.twitter }}</a>
        </li>
    {% endif %}
</ul>
