{% extends "WEMOOFWebBundle::page.html.twig" %}
{% set meta_title %}Mein Dashboard | WEMO♥F{% endset %}
{% block content %}
    <article class="dashboard">
        <h1>
            <a href="/">
                <img src="{{ asset('bundles/wemoofweb/images/logo-m-wide.png') }}"
                     alt="WEMO♥OF &ndash; Webmontag Offenbach" id="logo"/>
            </a>
        </h1>

        <h2><strong>Hallo {{ user }}</strong>,<br>schön dich zu sehen!</h2>

        <p>Du befindest dich nun in deinem persönlichen Bereich. Hier kannst Du dich zu unseren Veranstaltungen anmelden
            und dein Profil bearbeiten.</p>

        <h3>Zu einem Webmontag anmelden</h3>

        {% for registerableEvent in registerableEvents %}
            {% if loop.first %}
                <p>Zu diesen Webmontagen kannst Du dich jetzt anmelden.</p>
            {% endif %}
            {% form_theme registerableEvent.form 'WEMOOFWebBundle:Form:fields.html.twig' %}
            <form method="POST" action="{{ path("wemoof_register_event", {"id": registerableEvent.event.id }) }}"
                  class="clearfix">
                <p>{{ registerableEvent.event.name }}, am {{ registerableEvent.event.start|shortdate }}</p>
                {{ form_widget(registerableEvent.form) }}
                <button type="submit">Anmelden</button>
            </form>
        {% else %}
            <p>Aktuell kannst Du dich leider zu keinem weiteren Webmontag anmelden.</p>
        {% endfor %}


        <h3>Sonstiges</h3>

        <p>
            <a href="{{ path("wemoof_logout") }}">Logout</a>
        </p>

    </article>
{% endblock %}
