{% extends "WEMOOFWebBundle::page.html.twig" %}
{% set meta_title %}WEMO♥F | Webmontag Offenbach #{{ event.id }} am {{ event.start|shortdate }}{% endset %}
{% set meta_image %}{{ asset('bundles/wemoofweb/images/logo-noborder-xxl.png') }}{% endset %}
{% block content %}
    <article>
        <h1>
            <img src="{{ asset('bundles/wemoofweb/images/logo-noborder-xxl.png') }}"
                 alt="WEMO♥OF &ndash; Webmontag Offenbach" id="logo">
        </h1>

        <p>Der <strong>Webmontag Offenbach</strong> ist eine informelle, nicht-kommerzielle und von der Community
            organisierte Veranstaltung, die Menschen zusammen bringt, die sich für das Web begeistern, Teil davon sind
            oder es werden wollen.</p>

    </article>

    <article id="event">

        <h2>Am
            <time datetime="{{ event.start|rfc3339 }}">{{ event.start|shortdate }}</time>
            findet der {{ "%d."|format(event.id)|numtotext }} <strong>Webmontag Offenbach</strong> in der
            <a href="http://afip-hessen.de/">»afip!«</a> statt.
        </h2>

        <h3>Die Sprecher</h3>

        <p>Sechs Sprecher halten einen Vortrag über ein Thema, das sie gerade bewegt. Jeder Vortrag dauert 15-20
            Minuten. Zusätzlich werden in 1- bis 2-minütigen Spotlight-Vorträgen aktuelle Szeneereignisse
            vorgestellt.</p>

        {% for talk in talks %}
            {% if loop.first %}
                <ul class="speaker">
            {% endif %}
            <li>
                <a href="{{ path('wemoof_speaker', {'slug': talk.speaker|slug, 'id': talk.speaker.id}) }}">
                    {% if talk.speaker.hasGravatar %}
                        <img src="{{ gravatar(talk.speaker.email) }}" alt="{{ talk.speaker }}">
                    {% else %}
                        <img src="/upload/speaker/{{ talk.speaker|slug }}.png" alt="{{ talk.speaker }}">
                    {% endif %}
                    <br><abbr title="{{ talk.speaker }}">{{ talk.speaker.firstname }}</abbr> </a>
            </li>
            {% if loop.last %}
                </ul>
            {% endif %}
        {% endfor %}

        <ol>
            {% for talk in talks %}
                <li>
                    <a href="{{ path('wemoof_talk', {'slug': talk|slug, 'id': talk.id}) }}">
                        {{ talk }}
                    </a>
                </li>
            {% endfor %}
            {% for i in missing %}
                <li><em>Wird noch bekannt gegeben.</em></li>
            {% endfor %}
        </ol>

        <p>
            <small><em>Die Reihenfolge der Talks wird erst am Veranstaltungsabend festgelegt.</em></small>
        </p>

    </article>

    <article id="tickets" class="important">

        <h2>Registrierung</h2>

        {% if event.ticketSalesStart.isEmpty() %}
            <p>Der Zeitpunkt für die Registrierung wurde noch nicht bekannt gegeben.</p>
        {% else %}
            {% if event.ticketSalesStart.get().isFuture() %}
                <p><strong>Geduld!</strong> Ab {{ event.ticketSalesStart.get()|longdate }} kannst Du dich für den
                    Webmontag Offenbach registrieren.</p>
            {% else %}
                <div class="loading">
                    <div class="inner" style="width: {{ event.percentTicketsSold }}%;"></div>
                </div>
                {% if event.numTicketsAvailable > 0 %}
                    <p>Es sind noch {{ event.numTicketsAvailable }} Tickets verfügbar.</p>

                    <p>Um dich für den {{ "%d."|format(event.id) }} Webmontag Offenbach zu registrieren, melde dich
                        bitte mit deiner E-Mail-Adresse an.</p>

                    <p>Die Teilnahme an der Veranstaltung ist Dank unserer <a href="#sponsoren">Sponsoren</a> kostenfrei
                        möglich.</p>

                {% else %}
                    <p>Es sind keine Tickets mehr verfügbar. Du kannst aber deine E-Mail-Adresse hinterlassen und Du
                        wirst benachrichtigt, sobald wieder Plätze frei sind.</p>
                {% endif %}
            {% endif %}
        {% endif %}

        {% form_theme form 'WEMOOFWebBundle:Form:fields.html.twig' %}
        <form method="POST" action="{{ path("wemoof_register") }}" class="clearfix">
            {{ form_widget(form) }}
            <button type="submit">Registrieren</button>
        </form>

        <p>
            <small>Ich werden deine E-Mail-Adresse nicht an Dritte weitergeben.</small>
        </p>

    </article>

    <article id="kontakt">

        <h2>Kontakt</h2>

        <p>Der Webmontag Offenbach wird organisiert von <a href="http://tckr.cc/" rel="author">Markus Tacker</a>. Du
            erreichst mich via Mail unter <a href="mailto:m@wemoof.de">m@wemoof.de</a> und via Twitter unter
            <a href="http://twitter.com/markustacker">@markustacker</a>.</p>

        <h3>Team</h3>

        <ul class="team">

            <li>
                <a href="{{ path('wemoof_user', {'id': 1, 'slug': "Markus Tacker"|slug}) }}" rel="author">
                    <img src="{{ gravatar('m@tckr.cc', 125) }}" alt="Markus Tacker"><br>Markus Tacker </a><br>
                <small>Initiator</small>
            </li>
            <li>
                <a href="{{ path('wemoof_user', {'id': 9, 'slug': "Lutz Jahnke"|slug}) }}">
                    <img src="/upload/user/{{ "Lutz Jahnke"|slug }}-9.png" alt="Lutz Jahnke"><br>Lutz Jahnke </a><br>
                <small>Location</small>
            </li>
            <li>
                <a href="mailto:m@wemoof.de?subject=WEMOOF+Team">
                    <img src="{{ asset('bundles/wemoofweb/images/wildcard.png') }}" alt=""><br>Du? </a>
            </li>
        </ul>

        {% include "WEMOOFWebBundle:Web:part/socialmedia.html.twig" %}

    </article>

    <article id="helfen">

        <h2>Du möchtest mich bei der Realisierung des <strong>WEMO<span class="heart">♥</span>F</strong> unterstützen?
        </h2>

        <p>Super! <a href="mailto:m@wemoof.de">Mail</a> / <a href="tel:+491796678859">Ruf</a> /
            <a href="http://twitter.com/markustacker">Tweet</a> mich an oder komm' im <a href="http://offenraum.de/">OFfenraum</a>
            vorbei.</p>

    </article>

    <article id="faq">

        <h2>Warum …</h2>

        <h3 id="faq-wmfra">Parallel zum Webmontag Frankfurt?</h3>

        <p><em>Der <a href="http://wmfra.de/" rel="friend met muse">Webmontag Frankfurt</a> findet am gleichen Tag in
            der Brotfabrik in Hausen statt.</em></p>

        <p>Ich bin in den letzten Monaten regelmäßig der einzige Offenbacher in der Brotfabrik &ndash; daher sehe ich
            kaum Überschneidungen bei den Besuchern der Veranstaltungen.</p>

        <p>Auch im Hinblick auf andere regelmäßige Veranstaltungen wie dem Gründerstammtisch des
            <a href="http://gründerhub.de" rel="friend met">Gründerhubs FrankfurtRheinMain</a> oder zahlreichen
            <a href="http://usergroups.rheinmainrocks.de/" rel="friend met">Usergroups</a> halte ich es für sinnvoll
            nicht noch einen weiteren Termin im Kalender zu belegen.</p>

        <p>Zudem haben wir so die Möglichkeit, den Live-Stream des <abbr title="Webmontag Frankfurt">WMFRA</abbr> zu
            übertragen, falls wir unseren Webmontag nicht auf die Beine gestellt bekommen &ndash; und wer weiß,
            vielleicht teilen wir ja mal einen Abend zwischen Frankfurt und Offenbach auf.</p>

        <h3 id="faq-web">Web?</h3>

        <p>Das Internet ist ohne Zweifel das Leitmedium der kreativen Wirtschaft geworden und mit den Grundprinzipien
            des Webs - Offenheit, Transparenz und Freiheit - können sich viele Menschen identifizieren. Das Web als
            Kulturgut, Arbeitswerkzeug oder Freizeitvergnügen ist aus unserem Alltag nicht mehr wegzudenken und bietet
            so als übergeordneter Rahmen der Webmontage die thematische Grundlage der Veranstaltung. </p>

        <h3 id="faq-format">Das Format „Webmontag“ </h3>

        <p>
            Ein <a href="http://webmontag.de" rel="friend muse">Webmontag</a> findet in Deutschland in vielen Städten
            regelmäßig an einem Montag Abend statt. Im Lauf des Abends werden mehrere Vorträge gehalten - üblicherweise
            unterbrochen von einer Pause. Diese Pause, wie auch die Zeit vor und nach den Vorträgen bietet Gelegenheit
            sich mit Kollegen, Bekannten und Unbekannte aus der Branche bei einem Bier in ungezwungener Atmosphäre über
            die Vorträge und aktuelle Themen auszutauschen. Das "Sie" wird dabei an der Garderobe abgegeben.</p>

    </article>

    <article id="sponsoren">

        <h2>Sponsoren</h2>

        <ul class="sponsoren">
            <li>
                <a href="http://offenraum.de/" rel="met friend">
                    <img src="http://offenraum.de/build/logo.png" alt="OFfenraum"><br>OFfenraum </a><br>
                <small>coworking space offenbach/main</small>
            </li>
            <li>
                <a href="http://afip-hessen.de/" rel="met friend">
                    <img src="{{ asset('bundles/wemoofweb/images/afip.png') }}"
                         alt="afip — akademie für interdisziplinäre prozesse | offenbach"><br><abbr
                        title="akademie für interdisziplinäre prozesse | offenbach">»afip!«</abbr>
                </a> <br>
                <small>Locationunterstützung<br> Platz für 200 Leute</small>
            </li>

            <li>
                <a href="mailto:m@wemoof.de?subject=Sponsoring">
                    <img src="{{ asset('bundles/wemoofweb/images/wildcard.png') }}" alt=""><br>Dein<br>Unternehmen?</a>
            </li>
        </ul>

        <h2>Partner</h2>

        <ul class="partner">
            <li>
                <a href="http://facebook.com/likeOffenbach" rel="met friend">
                    <img src="{{ asset('bundles/wemoofweb/images/like-offenbach.png') }}" alt="Like Offenbach"><br>Like
                    Offenbach </a>
            </li>
        </ul>

    </article>

{% endblock %}
