{% extends "WEMOOFWebBundle::page.html.twig" %}
{% set meta_title %}WEMO♥F | Webmontag Offenbach #{{ event.id }} am {{ event.start|shortdate }}{% endset %}
{% set meta_image %}{{ asset('bundles/wemoofweb/images/logo-noborder-xxl.png') }}{% endset %}
{% block content %}

    <header>
        <article>
            <div>
                <h1>
                    <img src="{{ asset('bundles/wemoofweb/images/logo-m-wide.png') }}" alt="WEMO♥OF &ndash; Webmontag Offenbach" id="logo">
                </h1>
                <nav>
                    <a href="{{ path('wemoof_team') }}">Team</a>
                    <a href="{{ path('wemoof_faq') }}">Wissenswertes</a>
                    <a href="{{ path('wemoof_contact') }}">Kontakt</a>
                </nav>
            </div>

            <aside>
                <h2>Am
                    <time datetime="{{ event.start|rfc3339 }}">{{ event.start|shortdate }}</time>
                    findet der {{ "%d."|format(event.id)|numtotext }} <strong>Webmontag Offenbach</strong> in der
                    <a href="http://afip-hessen.de/">»afip!«</a> statt.
                </h2>

                <p>Der <strong>Webmontag Offenbach</strong> ist eine informelle, nicht-kommerzielle und von der
                    Community organisierte Veranstaltung, die Menschen zusammen bringt, die sich für das Web begeistern,
                    Teil davon sind oder es werden wollen.</p>

            </aside>
        </article>
    </header>

    <article id="event">

        <div class="bgimage">
            <div>
                <img src="http://farm6.staticflickr.com/5330/9352013973_1d98f9506d_b.jpg" class="bg" alt="">
            </div>
        </div>

        <div class="info">

            <h2>
                <strong>Webmontag Offenbach #{{ event.id }}</strong><br>
                <time datetime="{{ event.start|rfc3339 }}">{{ event.start|shortdate }}</time>
            </h2>

            <h3>Location</h3>

            <p><a href="http://goo.gl/maps/tHXIg">Ludwigstraße 112, 63067&nbsp;Offenbach/Main</a>
                (<a href="http://afip-hessen.de/">»afip!«</a>)<br>
                <small>S-Bahn-Haltestelle: Ledermuseum (S1, S2, S8, S9). Bus-Haltestelle: Lilistraße (102, 103).</small>
            </p>

        </div>

        <h3 class="talks">Sprecher</h3>

        <ul class="talks">
            {% for talk in talks %}
                <li>
                    <a href="{{ path('wemoof_talk', {'slug': talk|slug, 'id': talk.id}) }}" title="{{ talk }}">
                        {% if talk.speaker.hasGravatar %}
                            <img src="{{ gravatar(talk.speaker.email) }}" alt="{{ talk.speaker }}" class="user">
                        {% else %}
                            <img src="/upload/user/{{ talk.speaker|slug }}-{{ talk.speaker.id }}.jpg" alt="{{ talk.speaker }}" class="user">
                        {% endif %}
                        <span class="name"><br><abbr title="{{ talk.speaker }}">{{ talk.speaker.firstname }}</abbr>: {{ talk.name }}</span>
                    </a>
                </li>
            {% endfor %}
            {% for i in missing %}
                <li>
                    <a href="https://docs.google.com/forms/d/1iz7YvsIaKHrErlLW-fO_EDLDkHKdV2a2Uh3zE3Acveg/viewform" title="Du möchtest selber auf dem WEMO♥F sprechen?">
                        <img src="{{ asset('bundles/wemoofweb/images/wildcard.png') }}" alt="" class="user">
                        <span class="name"><br><em>Dieser Slot ist noch frei!</em></span> </a>
                </li>
            {% endfor %}
        </ul>

        {% for registration in registrations %}
            {% if loop.first %}
                <h3 class="users">Teilnehmer</h3>
                <ul class="users">
            {% endif %}
            <li>
                {% if registration.user.public %}
                <a href="{{ path('wemoof_user', {'slug': registration.user|slug, 'id': registration.user.id}) }}" title="{{ registration.user }}">
                    {% if registration.user.hasGravatar %}
                        <img src="{{ gravatar(registration.user.email) }}" alt="{{ registration.user }}" class="user">
                    {% else %}
                        <img src="/upload/user/{{ registration.user|slug }}-{{ registration.user.id }}.jpg" alt="{{ registration.user }}" class="user">
                    {% endif %}
                </a>
                {% else %}
                    <img src="{{ asset('bundles/wemoofweb/images/avatar.png') }}" alt="" class="user">
                {% endif %}
            </li>
            {% if loop.last %}
                </ul>
            {% endif %}
        {% endfor %}

        <div class="form">
            {% form_theme form 'WEMOOFWebBundle:Form:fields.html.twig' %}
            {% if user is defined %}
                <h3><strong>Hallo {{ user }}</strong>,<br>schön dich zu sehen!</h3>
                {% for registerableEvent in registerableEvents %}
                    {% if loop.first %}
                        <p>Zu diesem Webmontag kannst Du dich jetzt anmelden:</p>
                    {% endif %}
                    {% form_theme registerableEvent.form 'WEMOOFWebBundle:Form:fields.html.twig' %}
                    <form method="POST" action="{{ path("wemoof_register_event", {"id": registerableEvent.event.id }) }}" class="clearfix">
                        <p>
                            <strong>{{ registerableEvent.event.name }},
                                am {{ registerableEvent.event.start|shortdate }}</strong>
                            {{ form_widget(registerableEvent.form) }}
                            <button type="submit">Anmelden</button>
                        </p>
                    </form>
                {% endfor %}

                {% for unregisterableEvent in unregisterableEvents %}
                    {% if loop.first %}
                        <p>Aktuell bist Du zu diesem Webmontag angemeldet. Du kannst dich jederzeit wieder
                            abmelden und so deinen Platz für andere zur Verfügung stellen.</p>
                    {% endif %}
                    {% form_theme unregisterableEvent.form 'WEMOOFWebBundle:Form:fields.html.twig' %}
                    <form method="POST" action="{{ path("wemoof_unregister_event", {"id": unregisterableEvent.registration.id }) }}" class="clearfix">
                        <p>
                            <strong>{{ unregisterableEvent.event.name }},
                                am {{ unregisterableEvent.event.start|shortdate }}</strong>
                            {{ form_widget(unregisterableEvent.form) }}
                            <button type="submit" class="danger">Jetzt abmelden</button>
                        </p>
                    </form>
                {% endfor %}

                <h3>Namensschild gefällig?</h3>

                <p>Damit am Einlass ein Namensschild auf dich wartet, benötigst Du ein <a href="{{ path('wemoof_edit_profile') }}">ausgefülltes Profil</a>.</p>

                <p>
                    <a href="{{ path("wemoof_logout") }}">Logout</a>
                </p>
            {% else %}
                <form method="POST" action="{{ path("wemoof_register") }}" class="register">

                    <h3>Anmeldung</h3>

                    {% if event.start.isPast() %}
                        <p><em>Dieser Webmontag ist bereits rum.</em></p>
                        <p>Du kannst aber Deine E-Mail-Adresse hinterlassen um benachrichtigt zu werden, sobald die
                            Registrierung für den nächsten Webmontag frei geschaltet wurde.</p>
                    {% else %}
                        {% if event.ticketSalesStart.isEmpty() %}
                            <p><em>Der Zeitpunkt für die Registrierung wurde noch nicht bekannt gegeben.</em></p>
                            <p>Du kannst aber Deine E-Mail-Adresse hinterlassen. Du wirst benachrichtigt, sobald die
                                Registrierung frei geschaltet wurde.</p>
                        {% else %}
                            {% if event.ticketSalesStart.get().isFuture() %}
                                <p><strong>Geduld!</strong> Ab {{ event.ticketSalesStart.get()|longdate }} kannst Du
                                    dich für den Webmontag Offenbach registrieren.</p>
                            {% else %}
                                {% if event.numTicketsAvailable > 0 %}
                                    <p>Es sind noch {{ event.numTicketsAvailable }} Tickets verfügbar.</p>

                                    <p>Um dich für den {{ "%d."|format(event.id) }} Webmontag Offenbach zu registrieren,
                                        melde dich bitte mit deiner E-Mail-Adresse an.</p>

                                {% else %}
                                    <p>Es sind keine Tickets mehr verfügbar. Du kannst aber deine E-Mail-Adresse
                                        hinterlassen und Du wirst benachrichtigt, sobald wieder Plätze frei sind.</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    <fieldset>
                        {{ form_widget(form) }}
                        <button type="submit">weiter</button>
                    </fieldset>

                    <p class="fineprint">
                        Ich werden deine E-Mail-Adresse nicht an Dritte weitergeben.</p>
                </form>
            {% endif %}
        </div>

    </article>

{% endblock %}
