{% extends "WEMOOFWebBundle::page.html.twig" %}
{% form_theme form _self %}
{% block form_row %}
    {% spaceless %}
        <label> {{ label|trans({}, translation_domain) }}<br>
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </label>
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <span class="error">{{ error.message }}</span><br>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
{% set meta_title %}WEMO♥F | Webmontag Offenbach #{{ event.id }} am {{ event.start|shortdate }}{% endset %}
{% set meta_image %}{{ asset('bundles/wemoofweb/images/logo-noborder-xxl.png') }}{% endset %}
{% set meta_description %}Der Webmontag Offenbach bringt Menschen zusammen, die sich für das Web begeistern, Teil davon sind oder es werden wollen.{% endset %}
{% block content %}
    <article>
        <h1>
            <img src="{{ asset('bundles/wemoofweb/images/logo-noborder-xxl.png') }}" alt="WEMO♥OF &ndash; Webmontag Offenbach" id="logo"/>
        </h1>

        <p class="tagline">Am {{ event.start|shortdate }} findet der  {{ "%d."|format(event.id)|numtotext }} <strong>Webmontag
                in Offenbach</strong> statt. Werde Teil davon!</p>

        <h2>#wasfehlt</h2>

        <p>Offenbach ist eine der kreativsten Städte in Deutschland. Über 1.000 Werbeagenturen, IT-Dienstleister,
            Selbständige, Freiberufler und Künstler haben ihr Herz und ihren beruflichen Mittelpunkt in der Stadt am
            Meer. Als Gemeinschaft könnten wir viel bewegen, um Offenbach als kreativen Standort weiter voran zu
            bringen. Was dazu fehlt, ist eine regelmäßige, durch die Community organisierte Veranstaltung, die
            Interessierte aus allen kreativen Branchen zusammenbringt und so die Raum für neue Verbindungen und
            Synergien schafft.</p>

        <p>Der <strong>Webmontag Offenbach</strong> bringt Menschen zusammen, die sich für das Web begeistern, Teil
            davon sind oder es werden wollen.</p>

        <p>Ich bin überzeugt, dass Offenbach diese Veranstaltung braucht und glaube daran, dass wir als kreative
            Gemeinschaft den Termin in den nächsten Wochen realisieren können.</p>

        <h2>Damit der erste <strong>WEMO<span class="heart">♥</span>F</strong> statt finden kann benötige ich deine
            Unterstützung!</h2>

        <h3>Der Termin </h3>

        <p>… steht schonmal fest: der erste Webmontag Offenbach findet<br>am <strong>{{ event.start|longdate }}</strong>
            statt.</p>

        <h3>Die Sprecher</h3>

        <p>Gesucht sind sechs Sprecher, die einen Vortrag über ein Thema halten, das sie gerade bewegt. Der Vortrag muss
            zwei dieser drei Kriterien erfüllen: er hat einen Bezug zum Web, er ist authentisch und er hat etwas mit
            Offenbach zu tun. Er darf nicht länger als 15 Minuten dauern. Zusätzlich sind Spotlight-Vorträge möglich,
            hier besteht die Möglichkeit, ein Thema, eine Veranstaltung mit einer Folie und in einer Minute an zu
            teasern.</p>

        <ol>
            {% for talk in talks %}
                <li>
                    <a href="{{ path('wemoof_talk', {'slug': talk|slug, 'id': talk.id}) }}">
                        {{ talk }}
                    </a>
                </li>
            {% endfor %}
            {% for i in missing %}
                <li><span class="error">Sprecher fehlt!</span></li>
            {% endfor %}
        </ol>

        {% for talk in talks %}
            {% if loop.first %}
                <ul class="speaker">
            {% endif %}
            <li>
                <a href="{{ path('wemoof_speaker', {'slug': talk.speaker|slug, 'id': talk.speaker.id}) }}">
                    {% if talk.speaker.hasGravatar %}
                        <img src="{{ gravatar(talk.speaker.email) }}" alt="{{ talk.speaker }}">
                    {% else %}
                        <img src="/upload/speaker/{{ talk.speaker|slug }}.png" alt="{{ talk.speaker }}">
                    {% endif %}
                    <br><abbr title="{{ talk.speaker }}">{{ talk.speaker.firstname }}</abbr> </a>
            </li>
            {% if loop.last %}
                </ul>
            {% endif %}
        {% endfor %}

        <h3>Die Location</h3>

        <p>… sollte ausreichend Platz für 30 bis 50 Personen bieten und einen Beamer haben. Toll wären: eine PA-Anlage,
            eine Bar an der sich die Teilnehmer mit Getränken und ggfs. Snacks versorgen können. Besonders toll wäre:
            eine Location mit Gastro.</p>

        <ul>
            <li>Location? <span class="error">fehlt!</span></li>
            <li>Beamer? <span class="error">fehlt!</span></li>
            <li>PA-Anlage? <span class="warning">wäre toll.</span></li>
            <li>Getränke? <span class="warning">wäre toll.</span></li>
            <li>Gastro? <span class="warning">wäre toll.</span></li>
        </ul>

        <h3>Du fehlst!</h3>

        <p>Jetzt ist es an dir! Hilf' mit, den Webmontag Offenbach zu realisieren!</p>

    </article>
    <article id="helfen">
        <h2>Du möchtest mich bei der Realisierung des <strong>WEMO<span class="heart">♥</span>F</strong> unterstützen?
        </h2>

        <p>Super! <a href="mailto:m@wemoof.de">Mail</a> / <a href="tel:+491796678859">Ruf</a> /
            <a href="http://twitter.com/markustacker">Tweet</a> mich an oder komm' im <a href="http://offenraum.de/">OFfenraum</a>
            vorbei.</p>

        <h3>Orga-Treffen</h3>

        <p>Für Unterstützer, Interessierte und Neugierige wird es zwei Orga-Termine geben, die jeweils im
            <a href="http://offenraum.de/">OFfenraum</a> statt finden:</p>

        <ol>
            <li>
                Mittwoch, 27.3.2013 um 19 Uhr
            </li>
            <li>
                Mittwoch, 24.4.2013 um 19 Uhr
            </li>
        </ol>

    </article>
    <article id="signupform">
        <h2>Teilnehmen</h2>

        {% if not signup %}
            <p>Du möchtest am ersten oder an folgenden Webmontagen teilnehmen? Dann trag' dich für den Newsletter
                ein.</p>

            <form method="POST" action="{{ app.request.get('REQUEST_URI') }}#signupform" class="clearfix">
                {{ form_widget(form) }}
                <button type="submit">Eintragen</button>
            </form>

            <p>
                <small>Ich werden deine E-Mail-Adresse nicht an Dritte weitergeben.</small>
            </p>

            <p>Hier geht es zum Event im sozialen Netzwerk deiner Wahl:</p>

            <ul>
                <li>… <a href="https://www.xing.com/events/webmontag-offenbach-1-1221472">auf XING</a></li>
                <li>… <a href="https://www.facebook.com/events/478567365532237/">auf Facebook</a></li>
                <li>… <a href="https://plus.google.com/u/0/events/cv2j1m4iivu679a0uheevot6hdk">auf Google+</a></li>
            </ul>
        {% else %}
            <p>Danke! Ich melde mich!</p>

        {% endif %}

    </article>
    <article id="kontakt">

        <h2>Kontakt</h2>

        <p>Der Webmontag Offenbach wird organisiert von <a href="http://tckr.cc/" rel="author">Markus Tacker</a>. Du
            erreichst mich via Mail unter <a href="mailto:m@wemoof.de">m@wemoof.de</a> und via Twitter unter
            <a href="http://twitter.com/markustacker">@markustacker</a>.</p>

        <ul class="team">

            <li>
                <a href="http://tckr.cc/" rel="author">
                    <img src="{{ gravatar('m@tckr.cc', 125) }}" alt="Markus Tacker"><br><abbr title="Markus Tacker">Markus</abbr>
                </a>
            </li>
            <li>
                <a href="mailto:m@wemoof.de?subject=WEMOOF+Team">
                    <img src="{{ asset('bundles/wemoofweb/images/wildcard.png') }}" alt=""><br>Du? </a>
            </li>
        </ul>

        <h3>Twitter</h3>

        <p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wemoof.de/" data-text="Am 13.5.2013 findet der erste Webmontag Offenbach statt! Sei dabei!" data-via="wemoof" data-lang="de" data-hashtags="wemoof">Tweet</a>
        </p>

        <p>Den <strong>WEMO<span class="heart">♥</span>F</strong> findest Du auf Twitter unter
            <a href="http://twitter.com/wemoof" rel="me">@wemoof</a>. Der offizielle Hashtag ist
            <a href="https://twitter.com/search?q=%23wemoof&amp;src=hash">#wemoof</a>.</p>

        <h3>Facebook</h3>

        <div class="clearfix">
            <div class="fb-like" data-href="http://wemoof.de/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="tahoma" data-action="recommend"></div>
            <br>
        </div>

        <p>Auf Facebook findest Du den <strong>WEMO<span class="heart">♥</span>F</strong> unter
            <a href="https://www.facebook.com/pages/Wemoof/435444859870520">Wemoof</a>. </p>

    </article>

    <article id="faq">

        <h2>Warum …</h2>

        <h3 id="faq-wmfra">Parallel zum Webmontag Frankfurt?</h3>

        <p><em>Der <a href="http://wmfra.de/" rel="friend met muse">Webmontag Frankfurt</a> findet am gleichen Tag in
                der Brotfabrik in Hausen statt.</em></p>

        <p>Ich bin in den letzten Monaten regelmäßig der einzige Offenbacher in der Brotfabrik &ndash; daher sehe ich
            kaum Überschneidungen bei den Besuchern der Veranstaltungen.</p>

        <p>Auch im Hinblick auf andere regelmäßige Veranstaltungen wie dem Gründerstammtisch des
            <a href="http://gründerhub.de" rel="friend met">Gründerhubs FrankfurtRheinMain</a> oder zahlreichen
            <a href="http://usergroups.rheinmainrocks.de/" rel="friend met">Usergroups</a> halte ich es für sinnvoll
            nicht noch einen weiteren Termin im Kalender zu belegen.</p>

        <p>Zudem haben wir so die Möglichkeit, den Live-Stream des <abbr title="Webmontag Frankfurt">WMFRA</abbr> zu
            übertragen, falls wir unseren Webmontag nicht auf die Beine gestellt bekommen &ndash; und wer weiß,
            vielleicht teilen wir ja mal einen Abend zwischen Frankfurt und Offenbach auf.</p>

        <h3 id="faq-web">Web?</h3>

        <p>Das Internet ist ohne Zweifel das Leitmedium der kreativen Wirtschaft geworden und mit den Grundprinzipien
            des Webs - Offenheit, Transparenz und Freiheit - können sich viele Menschen identifizieren. Das Web als
            Kulturgut, Arbeitswerkzeug oder Freizeitvergnügen ist aus unserem Alltag nicht mehr wegzudenken und bietet
            so als übergeordneter Rahmen der Webmontage die thematische Grundlage der Veranstaltung. </p>

        <h3 id="faq-format">Das Format „Webmontag“ </h3>

        <p>
            Ein <a href="http://webmontag.de" rel="friend muse">Webmontag</a> findet in Deutschland in vielen Städten
            regelmäßig an einem Montag Abend statt. Im Lauf des Abends werden mehrere Vorträge gehalten - üblicherweise
            unterbrochen von einer Pause. Diese Pause, wie auch die Zeit vor und nach den Vorträgen bietet Gelegenheit
            sich mit Kollegen, Bekannten und Unbekannte aus der Branche bei einem Bier in ungezwungener Atmosphäre über
            die Vorträge und aktuelle Themen auszutauschen. Das "Sie" wird dabei an der Garderobe abgegeben.</p>

    </article>

    <article id="sponsoren">

        <h2>Sponsoren</h2>

        <p>Sponsoren sind nicht zwingend nötig, aber machen vieles leichter …</p>

        <ul class="sponsoren">
            <li>
                <a href="http://offenraum.de/" rel="me friend">
                    <img src="http://offenraum.de/build/logo.png" alt="OFfenraum · coworking space offenbach/main"><br><abbr title="OFfenraum · coworking space offenbach/main">OFfenraum</abbr>
                </a>
            </li>
            <li>
                <a href="mailto:m@wemoof.de?subject=Sponsoring">
                    <img src="{{ asset('bundles/wemoofweb/images/wildcard.png') }}" alt=""><br>Dein<br>Unternehmen?</a>
            </li>
        </ul>

    </article>
{% endblock %}