{% set body_class = "compact" %}
{% extends "WEMOOFWebBundle::page.html.twig" %}
{% set meta_title %}Wissenswertes | WEMO♥F{% endset %}
{% block content %}
    <article class="page">
        <h1>
            <a href="/">
                <img src="{{ asset('bundles/wemoofweb/images/logo-m-wide.png') }}" alt="WEMO♥OF &ndash; Webmontag Offenbach" id="logo"/>
            </a>
        </h1>

        <h2>Wissenswertes</h2>

        <h3 id="ablauf">Ablauf</h3>

        <ul>
            <li>19:00 Einlass <small>Kostenlose Registrierung ist erforderlich!</small>
            </li>
            <li>19:30 Intro</li>
            <li>19:40 Talk I</li>
            <li>20:00 Talk II</li>
            <li>20:20 Pause <small>für Getränke und Snacks ist gesorgt</small>
            </li>
            <li>20:50 Spotlights</li>
            <li>21:00 Talk III</li>
            <li>21:20 Talk IV</li>
            <li>21:40 Outro</li>
            <li>ab 21:50 Uhr Networking</li>
        </ul>

        <h3>Warum …</h3>

        <h4 id="faq-web">Web?</h4>

        <p>Das Internet ist ohne Zweifel das Leitmedium der kreativen Wirtschaft geworden und mit den Grundprinzipien
            des Webs - Offenheit, Transparenz und Freiheit - können sich viele Menschen identifizieren. Das Web als
            Kulturgut, Arbeitswerkzeug oder Freizeitvergnügen ist aus unserem Alltag nicht mehr wegzudenken und bietet
            so als übergeordneter Rahmen der Webmontage die thematische Grundlage der Veranstaltung. </p>

        <h4 id="faq-format">Das Format „Webmontag“ </h4>

        <p>
            Ein <a href="http://webmontag.de" rel="friend muse">Webmontag</a> findet in Deutschland in vielen Städten
            regelmäßig an einem Montag Abend statt. Im Lauf des Abends werden mehrere Vorträge gehalten - üblicherweise
            unterbrochen von einer Pause. Diese Pause, wie auch die Zeit vor und nach den Vorträgen bietet Gelegenheit
            sich mit Kollegen, Bekannten und Unbekannte aus der Branche bei einem Bier in ungezwungener Atmosphäre über
            die Vorträge und aktuelle Themen auszutauschen. Das "Sie" wird dabei an der Garderobe abgegeben.</p>

        <h3>Sponsoren</h3>

        <ul class="sponsoren">
            <li>
                <a href="http://afip-hessen.de/" rel="met friend">
                    <img src="{{ asset('bundles/wemoofweb/images/afip.png') }}" alt="afip — akademie für interdisziplinäre prozesse | offenbach"><br><abbr title="akademie für interdisziplinäre prozesse | offenbach">»afip!«</abbr>
                </a> <br>
                <small>Locationunterstützung<br> Platz für 200 Leute</small>
            </li>

            <li>
                <a href="http://fintura.de/" rel="met friend">
                    <img src="{{ asset('bundles/wemoofweb/images/fintura.png') }}" alt="Fintura — Zukunft finanzieren"><br>Fintura
                </a> <br>
                <small>Zukunft finanzieren</small>
            </li>

            <li>
                <a href="http://convecto.de/" rel="met friend">
                    <img src="{{ asset('bundles/wemoofweb/images/convecto.jpg') }}" alt="Convecto — Agentur für Markenführung und digitale Produkte und Services"><br>Convecto
                </a> <br>
                <small>Agentur für Markenführung und digitale Produkte und Services</small>
            </li>

            <li>
                <a href="mailto:m@wemoof.de?subject=Sponsoring">
                    <img src="{{ asset('bundles/wemoofweb/images/wildcard.png') }}" alt=""><br>Dein<br>Unternehmen?</a>
            </li>
        </ul>

    </article>
{% endblock %}
