{% extends "WEMOOFWebBundle::page.html.twig" %}
{% set meta_title %}Registrieren| WEMO♥F // Webmontag Offenbach{% endset %}
{% set meta_image %}{{ asset('bundles/wemoofweb/images/logo-noborder-xxl.png') }}{% endset %}

{% block content %}
    <article>
        <h1>
            <a href="/">
                <img src="{{ asset('bundles/wemoofweb/images/logo-m-wide.png') }}"
                     alt="WEMO♥OF &ndash; Webmontag Offenbach" id="logo">
            </a>
        </h1>

        {% if form is defined %}
            {% form_theme form 'WEMOOFWebBundle:Form:fields.html.twig' %}

            <h2>Registrieren</h2>

            <form method="POST" action="{{ path("wemoof_register") }}" class="clearfix">
                {{ form_widget(form) }}
                <button type="submit">Eintragen</button>
            </form>

            <p>
                <small>Ich werden deine E-Mail-Adresse nicht an Dritte weitergeben.</small>
            </p>

        {% endif %}

        {% if user is defined %}
            <h2>Toll!</h2>

            <p>Ich habe dir ein E-Mail mit einem Login-Link an <strong>{{ user.email }}</strong> geschickt.</p>

            <p>Wenn Du dich eingeloggt hast, kannst Du in deinem persönlichen Bereich zu unseren Veranstaltungen
                anmelden und dein Profil bearbeiten.</p>
        {% endif %}

    </article>

{% endblock %}
