{% extends "WEMOOFWebBundle::page.html.twig" %}
{% set meta_title %}WEMO♥F | Webmontag Offenbach #{{ event.id }} am {{ event.start|shortdate }}{% endset %}
{% set meta_image %}{{ asset('bundles/wemoofweb/images/logo-noborder-xxl.png') }}{% endset %}
{% block content %}
    <article>
        <h1>
            <a href="/">
                <img src="{{ asset('bundles/wemoofweb/images/logo-m-wide.png') }}" alt="WEMO♥OF &ndash; Webmontag Offenbach" id="logo">
            </a>
        </h1>

        <h2>Teilnehmen</h2>

        {% include "WEMOOFWebBundle:Web:part/signupform.html.twig" %}

        {% if signup %}

            <p>Hier geht es zum Event im sozialen Netzwerk deiner Wahl:</p>

            <ul>
                <li>… <a href="{{ event.xing }}">auf XING</a></li>
                <li>… <a href="{{ event.facebook }}">auf Facebook</a></li>
                <li>… <a href="{{ event.googleplus }}">auf Google+</a></li>
            </ul>
        {% endif %}

    </article>

{% endblock %}