{% set body_class = "compact" %}
{% extends "WEMOOFWebBundle::page.html.twig" %}
{% set meta_title %}Team | WEMO♥F{% endset %}
{% block content %}
    <article class="page">
        <h1>
            <a href="/">
                <img src="{{ asset('bundles/wemoofweb/images/logo-m-wide.png') }}" alt="WEMO♥OF &ndash; Webmontag Offenbach" id="logo"/>
            </a>
        </h1>

        <h2>Team</h2>

        <p>Der Webmontag Offenbach wird organisiert von <a href="http://cto.hiv/" rel="author">Markus Tacker</a>. Du
            erreichst mich via Mail unter <a href="mailto:m@wemoof.de">m@wemoof.de</a>.</p>

        <ul class="team">

            <li>
                <a href="{{ path('wemoof_user', {'id': 1, 'slug': "Markus Tacker"|slug}) }}" rel="author">
                    <img src="/upload/user/{{ "Markus Tacker"|slug }}-1.jpg" alt="Markus Tacker"><br>Markus Tacker</a><br>
                <small>Initiator</small>
            </li>
            <li>
                <a href="{{ path('wemoof_user', {'id': 9, 'slug': "Lutz Jahnke"|slug}) }}">
                    <img src="/upload/user/{{ "Lutz Jahnke"|slug }}-9.jpg" alt="Lutz Jahnke"><br>Lutz Jahnke</a><br>
                <small>Location</small>
            </li>
            <li>
                <a href="{{ path('wemoof_user', {'id': 104, 'slug': "Jochen Bachmann"|slug}) }}">
                    <img src="{{ gravatar('jochen@calibanatspace.de', 125) }}" alt="Jochen Bachmann"><br>Jochen Bachmann</a><br>
                <small>Video</small>
            </li>
            <li>
                    <img src="/upload/user/{{ "Natalie Färber"|slug }}-214.jpg" alt="Natalie Färber"><br>Natalie Färber<br>
                <small>Verpflegung</small>
            </li>

        </ul>

    </article>
{% endblock %}
